/* Play/stop */

.rsys_header_btn_play .rsys_header_button_clicker {
    background-image:url(icons/play_white.svg);
}

.rsys_header_btn_stop .rsys_header_button_clicker {
    background-image: url(icons/stop_white.svg);
}

/* Audio */

.rsys_header_btn_sound .rsys_header_button_clicker {
    background-image: url(icons/sound_white.svg);
}

.rsys_header_btn_mute .rsys_header_button_clicker {
    background-image: url(icons/mute_white.svg);
}

/* Logout */

.rsys_header_btn_logout .rsys_header_button_clicker {
    background-image: url(icons/logout_white.svg);
}

.rsys_header_btn_logout:hover .rsys_header_button_clicker {
    background-color: #f94747;
    border-color: #f94747;
}