.rsys_header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 36px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.rsys_header_main {
    background-color: #2C2F33;
    padding-left:calc(var(--raptor-sidebar-offset-width) + 10px);
}

.rsys_header_button {
    position: relative;
}

.rsys_header_button_clicker {
    height: 32px;
    width: 32px;
    margin-right: 5px;
    background: #444446;
    border: 1px solid #5a5c5d;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px;
    transition: background-color 100ms cubic-bezier(0.27, 0.97, 0.58, 1);
    position: relative;
    z-index: 9999;
}

.rsys_header_button:hover .rsys_header_button_clicker {
    background-color: #5a5c5d;
}

.rsys_header_button_accent .rsys_header_button_clicker {
    background-color: var(--color-accent);
    border-color: var(--color-accent-light);
}

.rsys_header_button_accent:hover .rsys_header_button_clicker {
    background-color: var(--color-accent-light);
}

.rsys_header_button_white .rsys_header_button_clicker {
    background-color: #f5f5f5;
    border-color: #b3b3b3;
}

.rsys_header_button_white:hover .rsys_header_button_clicker {
    background-color: #e4e4e4;
}

.rsys_header input {
    flex-shrink: 1;
    flex-grow: 1;
    width: auto;
    min-width: 0;
}

/* Header button dropdown */

.rsys_header_button_dropdown {
    position: absolute;
    top: 34px;
    left: -5px;
    width: 250px;
    height: 100px;
    z-index: 999;
    border: 1px solid #535558;
    background: #23272a;
    padding: 5px;
    transition: opacity 80ms cubic-bezier(0.47, 0.98, 0.58, 1), top 150ms cubic-bezier(0.19, 1.24, 0.54, 1.26);
    opacity: 0;
    pointer-events: none;
}

.rsys_header_button:hover .rsys_header_button_dropdown {
    opacity: 1;
    top: 40px;
    pointer-events: all;
}

.rsys_header_button_dropdown::after {
    position: absolute;
    top: -10px;
    left: 4px;
    width: 32px;
    height: 10px;
    border-left: 1px solid #535558;
    background: #23272a;
    border-right: 1px solid #535558;
    content: '';
    display: block;
}

.rsys_header_button_dropdown_option {
    font-size: 13px;
    color: white;
    background-position-y: center;
    background-position-x: 5px;
    background-size: 22px;
    background-repeat: no-repeat;
    padding: 10px;
    padding-left: 32px;
    cursor: pointer;
    font-weight: 400;
    border-radius: 5px;
}

.rsys_header_button_dropdown_option:hover {
    background-color: #444446;
}

.rsys_header_button_dropdown_option_active {
    background-color: #3882dc5c;
}