body, html {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    overflow: hidden;
}

body {
    --raptor-sidebar-width: 280px;
    --raptor-sidebar-offset-width: calc(var(--raptor-sidebar-width) + 1px);
}

.raptor {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.loading {
    background-image: url(icons/spinner.svg);
    background-size: 26px;
    background-position: center;
    background-repeat: no-repeat;
}

.loading_btn {
    background-image: url(icons/spinner.svg) !important;
    background-size: 22px !important;
    background-position: center !important;
    color: transparent !important;
    pointer-events: none !important;
    background-repeat: no-repeat !important;
}

.system_popout {
    background: #1c1f21;
    padding: 15px;
    z-index: 9999;
    border: 1px solid #444446;
    border-radius: 5px;
    font-size: 15px;
    pointer-events: none;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.08);
}