body, html {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size:15px;
}

.raptor {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.loading {
    background-image: url(icons/spinner.svg);
    background-size: 26px;
    background-position: center;
    background-repeat: no-repeat;
}

.loading_btn {
    background-image: url(icons/spinner.svg) !important;
    background-size: 22px !important;
    background-position: center !important;
    color: transparent !important;
    pointer-events: none !important;
    background-repeat: no-repeat !important;
}